* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hamster_Container {
    width: 600px;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 20px 0 0 0;
    animation: con .3s ease-in-out forwards;
    opacity: 0;

    @keyframes con {
        from {
            opacity: 0;
            scale: 0.4;
        }

        to {
            opacity: 1;
            scale: 1;
        }
    }


    @media(min-width:320px) and (max-width:552px) {
        width: 100%;
    }

    .Bonus_Box {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 22, 22);
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-top: 4px solid rgb(251, 255, 0);
        box-shadow: 0 0 60px rgb(255, 166, 0);
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        z-index: 10;
        opacity: 0;
        top: 0;
        animation: bonus .3s ease-in-out forwards;

        @keyframes bonus {
            from {
                opacity: 0;
                transform: translateY(100px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
        }

        h2,
        h3 {
            color: white;
            text-transform: capitalize;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: white;

            &>span {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            @media(min-width:320px) and (max-width:552px) {
                font-size: 15px;
                flex-wrap: wrap;
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }

        button {
            width: 60%;
            padding: 10px 20px;
            border-radius: 10px;
            color: white;
            border: 3px solid transparent;
            transition: .3s;
            background-color: #1e1d1d;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.249);
            cursor: pointer;
            font-size: 18px;
            text-transform: capitalize;

            &:active {
                scale: 0.9;
                background-color: #1e1d1d;
                color: rgb(251, 255, 0);
                border-color: rgb(251, 255, 0);
                box-shadow: 0 0 20px rgba(255, 166, 0, 0.56);
            }
        }
    }

    .Hamster_Registration_Box {
        width: 100%;
        height: 100vh;
        padding: 40px;
        background-color: rgb(22, 22, 22);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        z-index: 10;
        top: 0;

        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
            filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.764));
            animation: img .3s ease-in-out forwards;
            animation-delay: .200s;
            opacity: 0;

            @keyframes img {
                from {
                    opacity: 0;
                    transform: scale(0.5);
                }

                to {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        h1 {
            text-transform: capitalize;
            color: white;
            font-weight: 300;
            letter-spacing: 2px;
            opacity: 0;
            animation: wellcome .3s ease-in-out forwards;
            animation-delay: .300s;

            @keyframes wellcome {
                from {
                    opacity: 0;
                    transform: translateY(20px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        input {
            width: 80%;
            padding: 10px 20px;
            font-size: 18px;
            outline: none;
            transition: .3s;
            border-radius: 10px;
            border: 3px solid transparent;
            background-color: #1e1d1d;
            color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.249);
            opacity: 0;
            animation: input-show .3s ease-in-out forwards;
            animation-delay: .400s;

            @media(min-width:320px) and (max-width:552px) {
                width: 90%;
            }


            @keyframes input-show {
                from {
                    opacity: 0;
                    transform: translateY(30px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }



            &:focus {
                border-color: rgb(251, 255, 0);
                box-shadow: 0 0 20px rgba(255, 166, 0, 0.56);
            }
        }

        button {
            width: 60%;
            padding: 10px 20px;
            border-radius: 10px;
            color: white;
            border: 3px solid transparent;
            transition: .3s;
            background-color: #1e1d1d;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.249);
            cursor: pointer;
            font-size: 18px;
            animation: btn .3s ease-in-out forwards;
            animation-delay: .500s;
            opacity: 0;

            @keyframes btn {
                from {
                    opacity: 0;
                    transform: translateY(30px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &:active {
                scale: 0.9;
                background-color: #1e1d1d;
                color: rgb(251, 255, 0);
                border-color: rgb(251, 255, 0);
                box-shadow: 0 0 20px rgba(255, 166, 0, 0.56);
            }
        }
    }

    .Hamster_Close_Box {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0 20px;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
        }

        button {
            width: 45px;
            height: 40px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: white;
            background-color: black;
            cursor: pointer;
        }

        h1 {
            color: white;
            text-transform: capitalize;
        }
    }

    .User_Stock_Exchange_Box {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0 20px;
        z-index: 2;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
        }

        img {
            width: 60px;
            height: 60px;
            color: white;
            background-color: #1e1d1d;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border-radius: 20px;


            @media(min-width:320px) and (max-width:552px) {
                width: 40px;
                height: 40px;
            }
        }

        h3 {
            color: white;

            @media(min-width:320px) and (max-width:552px) {
                font-size: 15px;
            }
        }

        button {
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;


                @media(min-width:320px) and (max-width:552px) {
                    width: 20px;
                    height: 20px;
                }
            }

            font-size: 20px;
            text-transform: capitalize;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            background-color: rgb(27, 26, 26);
            border: none;
            border-radius: 30px;
            color: white;
            padding: 10px;
            cursor: pointer;
            transition: .4s;



            @media(min-width:320px) and (max-width:552px) {
                font-size: 14px;
            }

            &:hover {
                background-color: rgb(39, 39, 39);
            }
        }
    }

    .Hamster_Box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 15px 20px 5px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(22, 22, 22);
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-top: 4px solid rgb(251, 255, 0);
        box-shadow: 0 0 60px rgb(255, 166, 0);
        animation: Ham .3s ease-in-out forwards;
        opacity: 0;
        animation-delay: .100s;

        @media(min-width:320px) and (max-width:552px) {
            gap: 10px;
        }

        @keyframes Ham {
            from {
                opacity: 0;
                transform: translateY(100px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }

        }

        .Hamster_Level_Box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            padding: 0 10px;
            opacity: 0;
            animation: levelshow .3s ease-in-out forwards;
            animation-delay: .400s;

            @media(min-width:320px) and (max-width:552px) {
                gap: 10px;
            }

            @keyframes levelshow {
                from {
                    opacity: 0;
                    transform: translateY(-50px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            div {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    color: white;
                    text-transform: capitalize;

                    span {
                        color: gray;
                    }
                }

                &:nth-child(2) {
                    height: 15px;
                    border-radius: 10px;
                    background-color: rgb(41, 41, 41);
                    border: 1px solid rgb(64, 64, 64);
                    position: relative;
                    overflow: hidden;

                    progress {
                        width: 100%;
                        height: 100%;
                        -webkit-appearance: none;
                        appearance: none;


                        &::-webkit-progress-bar {
                            background-color: #1e1d1d;
                            border-radius: 10px;
                            overflow: hidden;
                        }

                        &::-webkit-progress-value {
                            background: rgb(0, 255, 81);
                            background: linear-gradient(90deg, rgb(0, 255, 64) 0%, rgba(1, 255, 171, 1) 26%, rgba(201, 2, 190, 0.7959558823529411) 46%, rgba(159, 3, 148, 0.7539390756302521) 60%, rgba(78, 181, 242, 0.804359243697479) 77%, rgba(7, 5, 138, 1) 100%);
                            border-radius: 10px 0 0 10px;
                            transition: width 0.5s ease;
                        }

                        &::-moz-progress-bar {
                            background: rgb(0, 255, 81);
                            background: linear-gradient(90deg, rgb(0, 255, 64) 0%, rgba(1, 255, 171, 1) 26%, rgba(201, 2, 190, 0.7959558823529411) 46%, rgba(159, 3, 148, 0.7539390756302521) 60%, rgba(78, 181, 242, 0.804359243697479) 77%, rgba(7, 5, 138, 1) 100%);
                            border-radius: 10px 0 0 10px;
                            transition: width 0.5s ease;
                        }
                    }

                }
            }
        }

        .Hamster {
            width: 320px;
            height: 320px;
            border-radius: 50%;
            cursor: pointer;
            background: rgb(26, 13, 117);
            background: linear-gradient(180deg, rgb(39, 27, 118) 25%, rgb(1, 36, 58) 51%, rgba(2, 2, 31, 1) 100%);
            border: none;
            position: relative;
            display: flex;
            outline: none;
            justify-content: center;
            box-shadow: 0 0 90px rgba(0, 0, 0, 0.766);
            align-items: center;
            transition: .4s;
            opacity: 0;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            animation: Hamster .3s ease-in-out forwards;
            animation-delay: .500s;

            @media (min-width:400px)and (max-width: 552px) {
                width: 80vw;
                height: 80vw;
            }

            @media (max-width: 380px) {
                width: 55vw;
                height: 55vw;
            }

            @keyframes Hamster {
                0% {
                    opacity: 0;
                    scale: 0;
                }

                50% {
                    opacity: 1;
                    scale: 1.1;
                }

                100% {
                    opacity: 1;
                    scale: 1;
                }
            }

            span {
                position: absolute;
                top: 50%;
                color: white;
                font-size: 40px;
                z-index: 3;
                font-weight: 700;
                opacity: 0;

                @media(min-width:320px) and (max-width:552px) {
                    font-size: 25px;
                }
            }

            @keyframes show {
                0% {
                    opacity: 0;
                    top: 50%;
                }

                50% {
                    opacity: 1;
                    top: -10%;
                    scale: 1.3;
                }

                100% {
                    opacity: 0;
                    top: -10%;
                }

            }

            &:active {
                transform: scale(1.05);
            }

            img {
                width: 90%;
                height: 90%;
                object-fit: contain;
                position: absolute;
                border-radius: 50%;
                background: rgb(0, 50, 80);
                box-shadow: inset 0 0 80px black;
                background: linear-gradient(90deg, rgba(0, 50, 80, 1) 25%, rgb(1, 56, 88) 51%, rgba(2, 2, 31, 1) 100%);
            }
        }

        .Hamster_Energy_Boost_Box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            animation: boost .3s ease-in-out forwards;
            opacity: 0;
            animation-delay: .600s;

            @keyframes boost {
                from {
                    opacity: 0;
                    transform: translateX(-100px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                font-size: 20px;
                width: auto;
                height: auto;
                background: transparent;
                color: white;
                position: relative;
                border: none;
                cursor: pointer;
                padding: 10px;
                text-transform: capitalize;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);



                @media(min-width:320px) and (max-width:552px) {
                    font-size: 16px;
                    gap: 5px;
                }

                i {
                    color: orange;
                    font-size: 25px;
                }

                img {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    left: -60%;
                    object-fit: contain;
                    padding: 10px;

                }
            }
        }
    }

    .Mine_Box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 20px 10px 5px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(22, 22, 22);
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-top: 4px solid rgb(251, 255, 0);
        box-shadow: 0 0 60px rgb(255, 166, 0);
        animation: Ham .3s ease-in-out forwards;
    }

    .Claim_Boxus_Box {
        width: 80%;
        height: auto;
        padding: 20px;
        border-radius: 15px;
        background-color: rgb(22, 22, 22);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        z-index: 10;

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.479));
        }

        h2 {
            color: wheat;
            text-align: center;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            font-size: 20px;
            color: white;
            text-transform: capitalize;

            img {
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }

        button {
            width: 60%;
            padding: 15px 30px;
            border-radius: 10px;
            background-color: rgb(36, 23, 149);
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            border: none;
            box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.585);
            color: white;
            transition: .3s;

            &:active {
                scale: 0.9;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.585);
            }
        }
    }
}

.Hour_Coin_Box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
    opacity: 0;
    animation-delay: .200s;
    animation: HourShow .3s ease-in-out forwards;

    @keyframes HourShow {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


    @media(min-width:320px) and (max-width:552px) {
        gap: 5px;
    }

    div {
        flex: 25%;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        border-radius: 15px;
        background-color: rgb(34, 34, 34);


        @media(min-width:320px) and (max-width:552px) {
            padding: 10px;
            height: 50px;
        }


        &:first-child {
            span {
                &:first-child {
                    color: orange;
                    font-size: 14px;
                    font-weight: 600;


                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 10px;
                    }

                }

                &:last-child {
                    color: white;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;


                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 13px;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;


                        @media(min-width:320px) and (max-width:552px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            span {
                &:first-child {
                    color: rgb(85, 0, 255);
                    font-size: 14px;
                    font-weight: 600;


                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 10px;
                    }

                }

                &:last-child {
                    color: white;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;


                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 13px;
                    }
                }
            }
        }

        &:last-child {
            span {
                &:first-child {
                    color: rgb(68, 255, 0);
                    font-size: 14px;
                    font-weight: 600;


                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 10px;
                    }
                }

                &:last-child {
                    color: white;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;


                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 12px;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;


                        @media(min-width:320px) and (max-width:552px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

.Hamster_Coin_Count {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    animation-delay: .300s;
    animation: CoinShow .3s ease-in-out forwards;

    @keyframes CoinShow {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;


        @media(min-width:320px) and (max-width:552px) {
            width: 60px;
            height: 60px;
        }
    }

    span {
        font-size: 50px;
        color: white;
        font-weight: 600;


        @media(min-width:320px) and (max-width:552px) {
            font-size: 40px;
        }
    }
}

.Mine_Card_Filter_Box {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #1e1d1d;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    &>button {
        width: 150px;
        padding: 10px 15px;
        background-color: transparent;
        color: white;
        font-size: 14px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        border: none;
        border-radius: 5px;
        outline: none;
        transition: .4s;

        &.active {
            background-color: rgb(19, 19, 19);
        }

        @media(max-width:380px) {
            padding: 10px;
            font-size: 13px;
        }
    }
}

.Cards_Box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;

    .special-card {
        width: 170px;
        height: 200px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1e1d1d;
        padding: 20px;
        gap: 15px;
        animation: card .4s ease-in-out forwards;
        opacity: 0;

        @keyframes card {
            from {
                opacity: 0;
                transform: translateY(50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &>div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:first-child {
                flex-direction: column;
                align-items: center;
            }

            h5 {
                color: white;
                font-size: 12px;
            }

            span {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }

            &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                h5 {
                    color: white;
                    text-transform: capitalize;
                    text-align: center;
                }

                span {
                    color: rgb(139, 139, 139);
                    font-size: 10px;
                }
            }
        }
    }

    .Card {
        width: 170px;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1e1d1d;
        border-radius: 10px;
        flex-direction: column;
        animation: card .4s ease-in-out forwards;
        opacity: 0;

        @keyframes card {
            from {
                opacity: 0;
                transform: translateY(50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &>div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                color: white;
                font-weight: 100;
            }

            span {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }

            img {
                width: 60px;
                height: 70px;
                object-fit: cover;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 10px;

                h5 {
                    color: white;
                    text-transform: capitalize;
                }

                span {
                    color: rgb(139, 139, 139);
                    font-size: 10px;
                }
            }
        }
    }
}

.List {
    width: auto;
    height: auto;
    background-color: rgb(32, 32, 32);
    padding: 5px 15px;
    border-radius: 15px;
    animation: list .3s ease-in-out forwards;
    opacity: 0;
    animation-delay: .700s;

    @keyframes list {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    ul {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;


        @media(min-width:320px) and (max-width:552px) {
            gap: 5px;
        }

        li {
            width: 100px;
            height: auto;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;


            @media(min-width:320px) and (max-width:552px) {
                width: 65px;
            }

            &>button {
                width: 100%;
                display: block;
                padding: 10px 20px;
                display: flex;
                border: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                cursor: pointer;
                gap: 5px;
                color: white;
                background-color: transparent;
                text-transform: capitalize;
                font-size: 15px;
                overflow: hidden;


                @media(min-width:320px) and (max-width:552px) {
                    padding: 5px 10px;
                    font-size: 10px;
                }


                i {
                    font-size: 30px;
                    color: gray;

                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 20px;
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;


                    @media(min-width:320px) and (max-width:552px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.Boost_Box {
    width: 600px;
    height: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 5;
    animation: showare .3s ease-in-out forwards;


    @media(min-width:320px) and (max-width:552px) {
        width: 100%;
    }

    @keyframes showare {
        from {
            opacity: 0;
            scale: 0;
        }

        to {
            opacity: 1;
            scale: 1;
        }
    }

    #Boost_Box_Close_Btn {
        width: 50px;
        height: 50px;
        font-size: 30px;
        color: white;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 5%;
        left: 5%;
        cursor: pointer;
    }

    &>div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        background-color: transparent;


        &:first-child {
            div {
                justify-content: center;
                background-color: transparent;

                div {
                    align-items: center;
                    background-color: transparent;
                }
            }
        }


        h1 {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            gap: 10px;
        }

        span {
            color: white;
            font-weight: 600;
        }

        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }

        &:nth-child(2) {
            &>div {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                padding: 7px 20px;
                gap: 15px;

                &:nth-child(2) {
                    background-color: rgb(34, 34, 34);
                }

                &:nth-child(3) {
                    background-color: rgb(34, 34, 34);
                }

                i {
                    color: rgb(74, 74, 74);
                }

                button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    gap: 15px;
                    cursor: pointer;
                    transition: .3s;


                    div {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 10px;
                        flex-direction: column;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            color: white;
                            text-transform: capitalize;

                            img {
                                width: 20px;
                                height: 20px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }


    }
}

.MultitapLevel_Box,
.EnergyLevel_Box {
    width: 600px;
    height: auto;
    position: absolute;
    top: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    background-color: rgb(18, 18, 18);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-top: 4px solid rgb(251, 255, 0);
    box-shadow: 0 0 60px rgb(255, 166, 0);
    padding: 40px 10px;
    animation: showbox .3s ease-in-out forwards;

    @media (max-width:552px) {
        width: 100%;
        height: 460px;
    }

    @media(min-width:320px) and (max-width:380px) {
        width: 100%;
        height: 400px;
        animation: showbox2 .3s ease-in-out forwards;

        @keyframes showbox2 {
            from {
                opacity: 0;
                top: 100%;
            }

            to {
                opacity: 1;
                top: 40%;
            }
        }
    }

    @keyframes showbox {
        from {
            opacity: 0;
            top: 100%;
        }

        to {
            opacity: 1;
            top: 50%;
        }
    }


    .close_btn,
    .close_btn2 {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 30px;
        height: 30px;
        font-size: 15px;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 50%;
        border: none;
    }

    img {
        width: 150px;
        height: 150px;
        object-fit: contain;

        @media(min-width:320px) and (max-width:552px) {
            width: 100px;
            height: 100px;
        }
    }

    h1 {
        color: white;
        text-align: center;
        text-transform: capitalize;
    }

    p {
        text-align: center;
        color: white;
        font-size: 13px;
    }

    h3 {
        color: white;
    }

    h2 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }

    #Tap_Buy_Btn,
    #Energy_Buy_Btn {
        width: 60%;
        padding: 15px 30px;
        border-radius: 10px;
        background-color: rgb(36, 23, 149);
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.585);
        color: white;
        transition: .3s;

        &:active {
            scale: 0.9;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.585);
        }
    }
}